In [3]:
import pandas as pd

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("postgresql://root:root123@localhost:5432/nyc_taxi")

In [6]:
engine.connect()

In [7]:
query = """
    SELECT 1 AS number
"""

pd.read_sql(query, engine)

   number
0       1

In [8]:
%%bash
ls

data
docker-compose.yaml
load_data_to_postgres.py
Makefile
postgresql
psql_test_connect.ipynb
scrapping.py

In [ ]:
from pathlib import Path

YELLOW_TRIPDATA_FILE = Path(__file__).joinpath("..", "data", "yellow_tripdata_2024.parquet").resolve()
YELLOW_TRIPDATA_FILE_DES = Path(__file__).joinpath("..", "data", "yellow_tripdata_2024.csv").resolve()

In [ ]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet(YELLOW_TRIPDATA_FILE)

In [ ]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet('../data/yellow_tripdata_2024.parquet')

df.head()

In [ ]:
df.to_sql()